<launch>
	<arg name="images_path" default="/home/fnovotny/playground/flashcode_mbt/data/images/test-%010d.jpg" />
	<arg name="log_pattern" default="08d.jpg" />

	<node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen" >
	      <param name="images_directory" type="string" value="$(arg images_path)" />
	      <param name="image_width" type="int" value="640" />
	      <param name="image_height" type="int" value="480" />
	      <param name="io_method" type="string" value="video" />
	      <rosparam param="D">[-0.01484690262, 0.,0., 0., 0.000]</rosparam>
	      <rosparam param="P">[543.1594454, 0.0, 320.1025306, 0.0, 0.0, 539.1300717, 212.8181022, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam>
	      <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
	      <rosparam param="K">[543.1594454, 0.0, 320.1025306, 0.0, 539.1300717, 212.8181022, 0.0, 0.0, 1.0]</rosparam>
	      <param name="wait_time" type="double" value=".5"/>
	</node>

	<node pkg="ar_visp" type="ar_visp" name="recorder" args="camera_prefix:=/usb_cam" output="screen">
	      <param name="tracker_log" type="string" value="$(arg log_pattern)"/>
	      <param name="pose_file" type="string" value="$(arg pose_file)"/>
	</node>

	<node name="ar_pose" pkg="ar_pose" type="ar_single" respawn="false">
	      <param name="marker_pattern" type="string" value="$(find ar_pose)/data/patt.qrwin"/>
	      <param name="kill_at_video_end" type="bool" value="true" />
	      <param name="marker_width" type="double" value="80.0"/>
	      <param name="marker_center_x" type="double" value="0.0"/>
	      <param name="marker_center_y" type="double" value="0.0"/>
	      <param name="threshold" type="int" value="100"/>
	      <param name="use_history" type="bool" value="true"/>

	      
  	</node>

</launch>
